nextflow.enable.dsl=2

manifest {
    name = 'lofar-eor-demo'
    author = 'Kariuki Chege (jameskariuki31@gmail.com)'
    description = 'lofar-eor-demo'
    defaultBranch = 'main'
    version = '1.0.0'
}

singularity.enabled = true

process {
    withLabel: 'default' {
        container = null
    }

    withLabel: 'sing' {
    container="/home/codex/chege/software/containers/leor_tools_050625.sif"
    containerOptions = '--bind /net,/home,/data'
  }
}

params {

    start_from = 'pre-process'
    stop_after = 'fullband-image'

    data {

        path = null
        // These are glob patterns
        ms_files {
            raw = null
        }

        raw_mslist="raw_mses.txt"
        di_mslist="di_mses.txt"
        dd_mslist="dd_mses.txt"
        pdd_mslist="pdd_mses.txt"
    }

    average {

        lta_to_di {
            freqstep = 1
            timestep = 4
            msout = null
            column = 'DATA'
            aoflagger_strategy="${baseDir}/aoflagger_strategies/HBA-3C196-EoR.lua"
        }

        ditodd {
            freqstep = 1
            timestep = 1
            msout = null
        }
    }

    ddecal {

        di {
            parset = "${baseDir}/parsets/DI_smooth_cal.parset"
            sourcedb = "${baseDir}/skymodels/L253456_SAP000-3.9deg-DI.txt"
            sols = "di_solutions.h5"
            incol = 'DATA'
            outcol = 'DI_CORRECTED'
            solint = 1
            uvlambdamin = 50
            uvlambdamax = 1e15
            nchan = 5

            apply {
                parset="${baseDir}/parsets/applycal_DI_smooth.parset"
            }
        }

        bp {
            parset = "${baseDir}/parsets/DI_bandpass_cal.parset"
            sourcedb = "${baseDir}/skymodels/L253456_SAP000-3.9deg-DI.txt"
            sols = "bp_solutions.h5"
            incol = 'DATA'
            outcol = 'BP_CORRECTED'
            solint = 150
            uvlambdamin = 50
            uvlambdamax = 1e15
            nchan = 1

            apply {
                parset = "${baseDir}/parsets/applycal_DI_bandpass_cal.parset"
            }
            aoflagger_strategy="${baseDir}/aoflagger_strategies/HBA-3C196-EoR-afterDI.lua"

        }

        dd {
            parset = "${baseDir}/parsets/DD_smooth_cal_minimal.parset"
            sourcedb = "${baseDir}/skymodels/L253456_SAP000-3.9deg-clustered-CasA_TauA_lowres_3C.txt"
            sols = "dd_solutions.h5"
            incol = "DATA"
            outcol = "CORRECTED_DATA"
            solint = 30
            uvlambdamin = 250
            uvlambdamax = 1e15
            nchan = 5
            calmode='diagonal'
            usebeam = 'True'
            beammode = 'full'
            smoothnessconstraint = 4e6
            truncateksmoothkernel = 'False'
            robust_reg = 'True'
            propagate_sols = 'True'
            maxiter = 200
            beamproximitylimit = 600
            correctfreqsmearing = 'False'
            flagstations = false

            subtract {
                parset="${baseDir}/parsets/DD_subtract.parset"
                clusters="${baseDir}/parsets/dd_clusters_to_subtract.txt"
            }
        }
    }

    postdd {
        uvlambdamin=50
        uvlambdamax=500
        aoflagger_strategy="${baseDir}/aoflagger_strategies/HBA-3C196-EoR-afterDD.lua"
        beam {
            outcol = "POSTDD_CORRECTED_DATA"
            parset = "${baseDir}/parsets/apply_elbeam_postDD.parset"
        }
    }

    dysco {
        nbits=10
        normalization="RF"
        distribution="TruncatedGaussian"   
        disttruncation=2.5
    }

    wsclean {
        size = 1200
        scale = '0.5amin'
        polfit = 2
        niter=0
        pol='iquv'
        chansout=1
        minuvl=50
        maxuvl=500
        weight="natural"
        imname=null
        column=null
        chansout_per_timechunk=1
        chansout_per_subband=1
    }

    pspipe {
        obsid="L12345"
        node='node300'
        dir="pspipe_image_gencube"
        mslist=null
        incol='DATA'
        revision= "rev1"
        max_concurrent = 300
        merge_ms=false
        aoflag_after_merge_ms=false
        delay_flagger=false
        vis_flagger=false
        gpr=false
        ml_gpr = false
        ml_gpr_inj = false
        time_start_index= 0
        time_end_index = 0
    }

    out {
        logs = "logs"
        results="results"
    }
}

dag {
    enabled = true
    overwrite=true
}

report {
    enabled = true
    overwrite=true
}

timeline {
    enabled = true
    overwrite=true
}

trace {
    enabled = true
    overwrite=true
}